
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Centauri Reference Directory</h2>

<ul>
    <li><a asp-area="" asp-controller="CRD" asp-action="Index">CRD</a></li>
    <li><a asp-area="" asp-controller="CRD" asp-action="Weapon">Weapons</a></li>
</ul>