
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Centauri Reference Directory</h2>

<ul>
    <li><a asp-area="" asp-controller="CRD" asp-action="Index">CRD</a></li>
    <li><a asp-area="" asp-controller="CRD" asp-action="Skill">Skills</a></li>
    <li><a asp-area="" asp-controller="CRD" asp-action="Weapons">Weapons</a></li>
</ul>

<h3>Common Terms</h3>
<dl>
    <dt>Acid</dt>
    <dd>Weapons with the Acid Special rule attached due sustained damage to health and armor. Everytime an Acid attack does damage, roll a 1d6. On a 4+ the acid will apply the same amount of damage the next round. Continue applying acid Damage until a roll of 3 or lower is rolled.  Acid damage applies the <b>Armor Destroying</b> Special rule on all of its attacks.</dd>

    <dt>Active Shields</dt>
    <dd>Some force shields have an active barrier which constantly emits a forcefield of protection (opposed to passive shields which activate in bursts when kinetic threats are detected. Active shields do not take damage like passive shields however they burn out energy sources rather quickly.  An Active shield will lose (1) vehicle shielding value or (5) Personal Shield value every round it is used.  Active shielding can be turned on as a quick action.  Characters who use Active Shield’s cannot use range weapons this round.  Characters who use active shields may use melee or unarmed attacks with Active shields at their attack range, however, they may not threaten anyone while doing so, and therefore do not gain reactionary attacks.</dd>

    <dt>Arc(x)</dt>
    <dd>Weapons with the Arc Special rule will roll to hit a single target as per usual shooting.  If the target hits with an MOS of 1 or more, it will jump to the nearest target (Friend or Foe) within 10 meters, you then roll to hit using the weapons short range modifier.  More targets can be shot according to the Arcs number profile.</dd>

    <dt>Armor Crushing</dt>
    <dd>Weapons with the <b>Armor Crushing</b> special rule have tremendous force against hard targets, using their own armor to crush their internal structure.  Weapons with the <b>Armor Crushing</b> special rule deal double the hull points for both light and heavy system damage against enemy armor.</dd>

    <dt>Armor Destroying</dt>
    <dd>
        Weapons with this special rule will rip, melt, or blast away protective plating with ease, making the target more susceptible to damage from other sources.  Weapons with the <b>Armor Destroying</b> special rule remove 1 Armor for each Light damage result or 5 Personnel armor for each light wound result  given to an enemy target and will remove 2 Armor for each Heavy damage result given or 10 Personnel armor for each deep wound result.
        <br />
        <table>
            <caption>Armor Destroying Chart</caption>
            <tr>
                <td>Light Wound</td>
                <td>5 Personnel armor</td>
            </tr>
            <tr>
                <td>Light Damage</td>
                <td>1 Vehicle armor</td>
            </tr>
            <tr>
                <td>Deep Wound</td>
                <td>10 Personnel armor</td>
            </tr>
            <tr>
                <td>Heavy Damage</td>
                <td>2 Vehicle armor</td>
            </tr>
        </table>
    </dd>

    <dt>Armor-Piercing</dt>
    <dd>Armor piercing weapons are exceptional at penetrating enemy armor, both personnel and vehicular. Weapons and ammunition with the <b>Armor Piercing</b> special rule always count enemy armor as half its normal value.  Armor-Piercing rounds can never overkill vehicles, as they pass through the enemy vehicle leaving minimal internal destruction.</dd>

    <dt>Attachments (X)</dt>
    <dd>Certain Attachments can only be placed on certain types of weapons.  Some Weapons can override this with the flexibility option provided by the attachments special rule.  A weapons with this special rule will state within its brackets what type of attachments they can take outside their weapon type. Weapons with a number inside this special rule may also override the maximum number normally allotted for weapons.</dd>

    <dt>Beam-Fire</dt>
    <dd>This special attack is made by weapons that can hold their fire down in an uninterrupted concentrated beam against enemy forces. Beam-Fire is considered a special type of suppressive fire that requires no rate of fire or extra ammunition. Weapons with beam fire can attack as many enemies as needed within a 45 degree arc, however this does not give any additional rate of fire dice to additional targets.  Beam-Fire can be focused towards a single enemy as well. Every round a weapon with the Beam-Fire special rule is fired uninterrupted against a single target, it gains +1 to its “To hit die roll”.</dd>

    <dt>Concealable(X)</dt>
    <dd>Certain weapons may be easier to conceal on a person's body.  The Conceal rating, whether negative or positive, is added to a disguise check when attempting to conceal the weapon. Weapons that do not have this ability are considered too difficult to attempt to conceal.</dd>

    <dt>Cryo</dt>
    <dd>
        Cryo Type weapons use compressed liquid nitrogen combined with rapidly a compound gas mixture to produce an instantaneous freeze effect on detonation.  Cryo weapons deal its own specific type of damage that will build up deposits of ice around its target to slow it down.
        Cryo Against Characters:
        When damage is dealt with a Cryo-Weapon it applies a freezing state according to wounds taken.  Everytime a character is hit with a Cryo weapon they lose 1 move. Every time they are hit with a light wound, they lose 5 move. If a character is dealt a deep wound from a Cryo Weapon, they will lose 5 movement just as a lightwound, except they must also take a Strength check against the Cryo Attack roll, if it succeeds the character breaks free from the freezing attack.  If the target of the cryo attack fails their strength check, they are covered and held in a sheet of ice.
        Instant death with Cryo Weapons automatically contain its target within a sheet of ice.  Cryo Freezing does not kill the subject it freezes, it instead renders the target to hit points 0.  Characters who are already in trauma and dying, are instantly submitted to being frozen from cryo attacks.  A cryo attack committed to a dying character instead temporarily holds their trauma status until they are thawed out.
        Cryo Against Vehicles:
        Vehicles and Drones attacked by Cryo Suffer a flat -1 move each time it is dealt light damage.  If the Vehicle is dealt heavy damage, it also loses a maneuverability point.
        Depending on the current environmental temperature, Cryo- freezing usually takes about an 10 minutes in warm temperature to thaw out 1 movement point of cryo.  Cold weather could double this time, where hot temperatures could cut it in half.
    </dd>

    <dt>Dark Energy</dt>
    <dd>The Yagh have perfected the art of weaponizing this mysterious element that surrounds the darkest reaches of space.  Munitions or Melee weapons that contain dark energy grasp onto living matter, disintegrating all that it can grasp. Weapons with this special rule deal double wounds to personnel and are considered <b>Armor Crushing, Armor Destroying</b>. Psy checks for instant death are not permitted against Dark Energy, instead the target just disintegrates.  Vehicles who are destroyed from Dark Energy weapons are usually missing large chunks or contain enormous clean cut holes.</dd>

    <dt>Electricity</dt>
    <dd>Electricity is applied to certain weapon damage types as a separate damaging entity.  Electricity applies bruise damage to any living being it touches, unless the Electricity applies an instant death threshold, then it just kills whoever is affected. Electricity will also cause extra damage to vehicles.  Against Vehicles, count Electricity as an EMP attack with the haywire special rule.</dd>

    <dt>EMP(Electromagnetic Pulse)</dt>
    <dd>EMP is an attack that only affects electronic equipment.  Against vehicles and robotics it has a chance of dealing additional damage.  Robotics and Vehicles Treat EMP like regular damage.  All EMP damage is counted as having the haywire special rule.  Equipment that have electronic components on them can be affected by EMP attacks.  If a player is affected by an emp attack all of his equipment will be turned off for the amount of rounds equal to his defense MOF.</dd>

    <dt>EMP Protection(X)</dt>
    <dd>The value placed by this special rule indicates an amount of EMP damage he may ignore.  EMP protection placed on equipment will ignore that much MOF against EMP attacks.</dd>

    <dt>Fire</dt>
    <dd>Fire damage is common in the game as it comes from multiple sources.  When fire damage is applied roll a 1d6 every round, if it is 4+ the fire intensity will grow its rating, if it is 3 or below the fire will die out.  If something is fire resistant() subtract from this dice roll the determined value when determining if the flame dies out. If something is flammable add 1 to this roll.  Anything with HEAT armor will count fire damage as half.</dd>

    <dt>Gas(Toxin)</dt>
    <dd>This special rule signifies a type of special attack that does not deal traditional damage, but instead attacks the willpower and lung capacity of its victims. A Person that enters a gas cloud unprotected must make a health(Toxin) save against its rating or receive an immediate Bruise light wound for every round thereafter spent inside the gas. If A character has taken bruise damage from gas, any subsequent rounds he must pass a Will test against the gas (with penalties) to stay inside.  Any failed will saves will send the player to the shortest known safe route out of the gas cloud.  If a player is reduced to 0 wounds in this fashion, they pass out unconscious. If the test is passed the Person within the cloud is unaffected and may stay and fight another round.  The next round and every round thereafter the gas adds +1 to its threshold to those not affected by the gas. All bruise damage obtained from the gas only takes a round to fall off for each one obtained.</dd>

    <dt>Gauss</dt>
    <dd>Gauss weapons fire dense metal slugs at high velocity. The gauss ballistics are powered by magnetic rails that dissipates recoil outward, instead of backward. The shot from the gauss rifle is silent, however the round travelling at supersonic speeds often will make enough noise to startle those close by.</dd>

    <dt>Haywire</dt>
    <dd>Any time a weapon with haywire damages a vehicle or Robot, Roll twice on the damage chart and keep both results.</dd>

    <dt>Heavy</dt>
    <dd>Heavy weapons are harder to use than normal Personnel weapons.  Size 1 characters must always use heavy weapons with 2 hands.  Furthermore, all weapons with the Heavy special rule will double movement penalties on shots.</dd>

    <dt>Jet (Area)</dt>
    <dd>A Jet weapon is a special type of area weapon.  A Jet weapon comes with a range, in which it can fire up to in a straight line. The numeric value attached to the Jet special rule defines the Jets width.  Example: A flame Thrower has a max range of 20 m, with the Jet(3) special rule.  This weapon may fire a 3 meter wide jet up to 20 meters.</dd>

    <dt>Knockdown</dt>
    <dd>Knockdown increases the build checks required against being rendered prone by 2.</dd>

    <dt>Indirect-Fire</dt>
    <dd>Some weapons bypass the requirement for direct line of sight for fire. An Indirect Fire weapon can use sensor rating or friendly Laser-Designators to attack targets that are out of line of sight.  Unless the weapon has the Lock special rule, weapons with the Indirect Fire special rule suffer a -2 to any rolls made without line of sight.</dd>

    <dt>Improved Knockdown</dt>
    <dd>Knockdown increases the build checks required against being rendered prone by 4.</dd>

    <dt>Laser</dt>
    <dd>Laser weapons travel at tremendous speeds and can provide instant accuracy on target. Heat Damage from Laser weapons can tear through unshielded enemy armor.  Lasers are also great at destroying shields by overloading them.  To represent this, all laser damage that bypasses shields will decrease the shield’s effectiveness twice as much as would non-laser damage. However, when obscured by smoke or gas, weapons with the Laser special rule are treated as firing one range bracket higher than normal.</dd>

    <dt>Laser-Designator</dt>
    <dd>A weapon with a Laser-Designator can integrate with any allied weapons that have lock and are within communications range. A laser designator may acquire a lock by using the firer’s Communications skill and Laser-Designator rating to make a standard attack and paint the target for the firer. The firer may then make their respective attack using the ally’s lock rating.  Apply any penalties for Communications complexity against the weapon’s highest complexity requirement.</dd>

    <dt>Light</dt>
    <dd>This weapon type allows for the weapon to be fired 1-handed without penalties. A light weapon is also better for shooting while on the move; this removes (-1) movement penalty when firing while moving.</dd>

    <dt>Lock</dt>
    <dd>Weapons with lock use a computerized targeting system to take out enemy vehicles or long range positions.  A weapon with the Lock special rule acquires a lock before shooting with a quick action.  To execute a lock with a weapon, a player must make a skill check using the relevant weapon’s skill and apply any sensor bonuses (don’t forget to include target designators and targeting computers). After a lock is acquired, the user may fire the weapon at that Lock rating just like it was making a regular attack.</dd>

    <dt>Low Yield</dt>
    <dd>Explosives with low yield have little to no force when detonated.  These also make little noise and are hard to detect.  Low yield explosives are good for taking out precise targets without unnecessary collateral damage or noise.</dd>

    <dt>Nano-Weave</dt>
    <dd>Super Dense reactive microfibers can detect penetrating impact and high heat lacerations, adjusting is material to grab on to high velocity impact. Armor with Nano-Weave negates the effects of Armor Piercing and Vibro.</dd>

    <dt>Necrosis (Toxin)</dt>
    <dd>This toxin is a potent alien toxic that eats away and degrades the flesh rapidly when applied to open wounds.  When someone takes a wound from Necrosis Toxin immediately roll a health check against a threshold of 6. If failed, an immediate Necrotic Light wound is gained. Test every 6 minutes in this same fashion to continuously apply wounds.  If any of the health checks are successful, the Necrosis toxin is rendered inert.  Medicine care checks may be made to a wound before health checks are made in order to temporarily hold off each necrotic wound degradation.  Unlike normal wounds, Necrotic wounds take twice as long to heal.</dd>

    <dt>Overheat</dt>
    <dd>
        Weapons with the overheat special rule can only be fired so much before needing to cool off. An overheat value placed on a weapon rates how much a weapon can fire before it needs a full round to cool off. Each instance of firing a weapon with the Overheat special rule adds 1 to its heat value. In addition, the weapon’s Rate of Fire is always directly applied to the weapon’s heat value. A weapon may be fired beyond its overheat value but may risk doing damage to the weapon or the person wielding it. When determining if the weapon fails during an overheat, roll 1d6 and add the excess Heat value beyond the weapon’s Overheat value:
        <ul>
            <li>1-3: Weapon functions normally</li>
            <li>4-5: Weapon malfunctions for 1 round. (Does not cool down during malfunction)</li>
            <li>6+: Weapon deals damage to vehicle/wielder equal to MoS over Threshold (5) of shot fired.  Weapon is Destroyed.</li>
        </ul>
    </dd>

    <dt>Passive Shields</dt>
    <dd>An item with this special rule will be protected by a magnetic field of energy.  This force field is reactive, as it draws a lot of power by being applied, it will detect destructive kinetic objects or energy and activate, stopping intruding elements with a wall of force.  Passive shields will only block against ranged attacks, missiles and explosives that are not directly set on the surface of the shield’s user.  In order for kinetics to pass the shields, they must be destroyed first.  Treat a shield as a separate inactive vehicle within its own armor (some vehicles or items only provide passive shielding in one direction)  This shield takes hull damage in the same fashion as a vehicle (light damage, heavy damage, and shields destroyed). When the shield is damaged, the shield’s protection will degrade by the value of its damage (-1 for light damage, -2 for heavy damage and completely removed if destroyed). Ex. If a vehicle with (10) Shields takes 110 damage (light damage), it will lose (1) shield, therefore becoming (9) Shield. Personnel passive shields work the same way, except that every point of damage will degrade it by its personnel rating (10) instead. Most shields are passive shields, and unless an item or vehicle states otherwise, treat all shields as passive.</dd>

    <dt>Phase / Plasma</dt>
    <dd>Weapons with this special rule bring a substantial amount of plasma like energy into a burst, or controlled fashion.  Phase/Plasma counts all armor as half and automatically gives the Armor Destroying Special rule. Anyone attempting to parry against a weapon with the phase special rule receives an additional -1 to their parry for each parry attempt. Additionally a character who is parrying against a phase weapon must roll a 1d6 adding these additive parry penalties, on a 1 or less, the weapon breaks.</dd>

    <dt>Recoil</dt>
    <dd>A weapon with the Recoil special rule will cause excessive force against characters who attempt to fire it while moving or standing.  A weapon with the Recoil special rule makes anyone who fires it while standing or on the move take a build check against its Recoil rating, failure will cause the user to lose their footing and become prone.</dd>

    <dt>Resistance</dt>
    <dd>Items or characters with this special rule will usually come with a type of resistance.  These types include: Cryo, Toxin, Radiation, Fire, Electricity, or Acid.  Any item not specifying its resistance will instead resist all types. Resistance will count itself as having additional armor against those state attack types. Resistance is not affected by armor modifiers such as vitals protection. Unless state specifically, Resistance is not used with any kind of force shielding.</dd>

    <dt>Shrapnel</dt>
    <dd>Weapons that deploy fragmentation will do additional damage in addition to explosive damage.  Deep wounds caused from shrapnel will test against bleeding, as well as any additional knockout tests from the additional explosion.</dd>

    <dt>Single Load</dt>
    <dd>Single Load weapons must load each round individually instead of loading with a magazine.  Weapons with the Single Load special rule can Combat reload (Complex Action test against 4) or Tactical reload (Standard Action test against 1).  All MOS above the threshold may count up to a single ammunition loaded for that action.</dd>

    <dt>Sonic Suppression</dt>
    <dd>Weapons with this special rule emanate high pitched noises used to subdue crowds as a non lethal method of control.  Characters hit with Sonic Suppression weapons must pass a will check based off of the value given (+1 if the target is within point blank or primary range).  Vehicles, Drones, or the deaf are not affected by Sonic Suppression. Improved hearing grants a +1 to all will checks made against Sonic Suppression.</dd>

    <dt>Spread</dt>
    <dd>Weapons with spread can hit targets at ranges easier but often lose damage effectiveness.  All weapons with this special rule, will not lose accuracy per each range bracket.  Instead, weapons with the Spread special rule lose 5 damage per range bracket and count all armor as double.</dd>

    <dt>Standoff</dt>
    <dd>Melee weapons with this special rule threaten enemies at a further reach than most other weapons.  A weapon with the Standoff special rule will allow the character to gain a reactive melee action against any enemies who enter their threat range.  Regardless of the enemies load out or abilities.  Standoff will not work if enemies approach from the rear or are undetected.  Standoff will not work while threatening enemies are within 1 meter from the user.</dd>

    <dt>Torpedo</dt>
    <dd>Torpedos function like missiles in the sense that they will acquire locks and fire using the users gunnery skill.  The difference between missiles and torpedoes comes with cost and durability.  Torpedoes count as their own vehicles, they use their own firers gunnery and sensors to pilot themselves toward a locked enemy.  Torpedoes often come with a secondary area damage option that is used for attacking any adjacent sections on a ship or adjacent wingmates of smaller (single section) ships. Torpedoes may be detonated at any time if desired by the operator using it, given that this is done during the operators round.  If a Torpedo is detonated near a ship, without a direct hit, it will force a defence check against the Torpedoes secondary damage blast.  Just like a grenade, this area damage will be granted a +1 on its attack roll. If a torpedo is engaged by anti missile fire, they still must roll a defensive check against secondary blast.</dd>

    <dt>Transform</dt>
    <dd>A weapon with this special rule can change its function by changing its design, often with just the push of a button.  A weapon with transform can change between any of its modes with a quick action.</dd>
</dl>