
@{
    ViewData["Title"] = "Weapon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weapon</h2>

<h3>Small Arms</h3>
<h4>Pistols</h4>
<div>
    <h5>Revolver, Light</h5>
    <div>DMG<br />15</div>
    <div>ACC<br />0</div>
    <div>ROF<br />0</div>
    <div>Range<br />10/20/40/80</div>
    <div>Ammo<br />10/(.38 SL)</div>
    <div>WT<br />2</div>
    <div>CPLX<br />(SA0)</div>
    <div>COST<br />150 Cr</div>
    <div>SPECIAL<br />Light, Concealable (3), Single Load</div>
</div>